{% load static %}
<div>
    <div class="row box">
        <div class="col-4 box" style="height: 25vh;">
          <h2>About us</h2>
          <p>Discover top-quality bikes for rent or purchase. From sleek road bikes to rugged mountain bikes, find your perfect ride for thrilling adventures. Start your journey with us now!</p>
          <a href="/aboutus">read more--> </a>
        </div>
        <div class="col-4 box" style="height: 25vh;">
            <h2>Contact Us</h2>
          <div class="row" style="height: 19vh;">
            <div class="col-5 <!--box-->">
              <ul>
                <li><a href="https://mail.google.com/mail/kshitij.warankar@gmail.com" style="text-decoration: none;"><i class="bi bi-envelope-at"></i>&nbsp;E-Mail us</a></li>
                <li><a href="https://www.instagram.com/flynnrider_008/" style="text-decoration: none;"><i class="bi bi-instagram"></i>&nbsp;DM us</a></li>
                <li><a href="https://web.whatsapp.com/" style="text-decoration: none;"><i class="bi bi-whatsapp"></i>&nbsp;Just drop a text</a></li>
              </ul>
            </div>
            <div class="col-7 <!--box-->">
              <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15070.432407404996!2d73.083623!3d19.212312!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7bf6925f3604b%3A0xf48435e2b15d49cb!2sNav%20Deepti%20Apartment!5e0!3m2!1sen!2sin!4v1708162400344!5m2!1sen!2sin" width="275" height="137" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
            </div>
          </div>
        </div>
        <div class="col-4 <!--box-->" style="height: 25vh;">
          <h2>Other Services</h2>
          <ul>
            <li>Servicing</li>
            <li>Second Hand Selling</li>
            <li>Modifications</li>
            <li>Riding Gears</li>
            <li>Trails</li>
          </ul>
        </div>
    </div>
</div>
</body>
</html>